/**************************************************************
*
* Bebuti News! Stylesheet
*
* White: #fff
*
*
*
*
***************************************************************/

/*--------------------------------------------------------------
* BASE
---------------------------------------------------------------*/

body {

}


h1, h2, h3, h4, h5 {

}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {

}

a {
    color: hotpink;
}

a:active,
a:hover,
a:focus {
    color: slategrey;
}

/*--------------------------------------------------------------
* HEADER
---------------------------------------------------------------*/

.hero {
    background-color: #3f51b5;
    color: white;
    margin-bottom: 20px;
    padding: 25px 0;
    text-align: center;
}

/*--------------------------------------------------------------
* LOGO
---------------------------------------------------------------*/

.logo {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}

/*--------------------------------------------------------------
* News
---------------------------------------------------------------*/

.news-item {
    border-bottom: 1px solid slategrey;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.news-link {
    display:block;
    color: #3f51b5;
    font-size: 22px;
    margin-bottom: 10px;
}

.news-meta-item {
    display: inline;
    margin-right: 15px;
}




/*--------------------------------------------------------------
* Content
---------------------------------------------------------------*/

.content {
    margin: 0 auto;
    max-width: 800px;
}


/*--------------------------------------------------------------
* Container
---------------------------------------------------------------*/

.container {

}

/*--------------------------------------------------------------
* Container
---------------------------------------------------------------*/


